.container, .resultContainer {
    margin: 3vh auto 0;
    background-color: grey;
    width: 40vw;
    border-radius: 9px;
}

.container>h1, .resultContainer>h2 {
    text-align: center;
    padding: 2vh 0 2vh;
    border-bottom: 1px solid #000;
}

.resultContainer {
    Display: None;
}

.taxContainer {
    display: flex;
    padding-bottom: 3vh;
}

.resContainer {
    display: flex;
    align-items: center;
}

.resContainer:last-of-type {
    padding-bottom: 2vh;
}

.resContainer>p {
    margin: 0 0 1% 5%;
}

.label {
    width: 65%;
    padding-left: 5%;
}

.input {
    width: 35%;
}

#incomeYear {
    width: 80%;
}

#taxYear {
    width: 85%;
}

#calcTax {
    width: 90%;
    margin: 0 auto;
}

.bold {
    font-weight: 600;
    text-decoration: underline;
}